* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fefaf4;
}
.header {
    background-color: #C0392B;
    height: 62px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.logo {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    padding-top: 15px;
}
.nak-link {
    display: flex;
    gap: 20px;
    padding-top: 15px;
}

.nak-link a {
    color: #FFFFFF;
    text-decoration: none;
}

.main {
}
.text {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background-color: #ffffff;
}
.text-main {
    padding-top: 167.19px;
    padding-right: 50px;
}
.text-main h1 {
    font-size: 37.7px;
    font-weight: 700;
}
.text-p {
    padding-top:16px ;
}

.img-a1 img {
     border-top-left-radius:15px ;
    border-top-right-radius:15px ;
}
.item-h2 {
    text-align: center;
    color: #C0392B;
    padding-top:50px ;
}
.texxt-2 {
    background-color: #ffffff;
}
.menu {
   display: flex;
   justify-content: center;
   gap: 20px;
   padding-top:50px ;
}
.menu-item {
    background-color: #fff9f5;
    border-radius: 15px;
    border: 1px solid #EEEEEE
}

.menu-item img {
    width: 298px;
    height: 180px;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
}
.item-text {
    text-align: center;
    line-height: 2;
}
.h3-item {
    font-size: 18.7px;
    font-weight: 700;
}
.money {
    font-size: 19.1px;
    font-weight: 700px;
    color: #C0392B;
}
.trong {
    margin-top: 50px;
    background-color:#fefaf4 ;
    height: 50px;
}
.footer {
    padding-top: 30px;
    background-color: #2c2c2c;
    height: 78px;
    text-align: center;
    color: #ffffff;
}
