* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #C0392B;
    height: 62px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.logo {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    padding-top: 15px;
}
.nak-link {
    display: flex;
    gap: 20px;
    padding-top: 15px;
}

.nak-link a {
    color: #FFFFFF;
    text-decoration: none;
}

.main {
}
.text {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.text-main {
    padding-top: 167.19px;
    padding-right: 50px;
}
.text-main h1 {
    font-size: 37.7px;
    font-weight: 700;
}
.text-p {
    padding-top:16px ;
}
.item-h2 {
    text-align: center;
    color: #C0392B;
    padding-top:50px ;
}
.texxt-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.menu {
}
.menu-item {
    background-color: #fff9f5;
}

.menu-item img {
    width: 298px;
    height: 180px;
}
.item-text {
}
.h3-item {
}
.money {
    color: #C0392B;
}

   .footer {
        padding-top: 30px;
        background-color: #2c2c2c;
        height: 78px;
        text-align: center;
        color: #ffffff;
      }
